.film-container {
    margin-bottom: 20px;
}

.film-info {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.characters-list {
    list-style-type: none;
    padding: 0;
}

.loading {
    display: inline-block;
    border: 4px solid #3498db;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}